[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "vdra"]
	path = vdra
	url = https://github.com/kentedegrees/vdra
	shallow = true
	registered = true
